<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1 th:text="${user.username}"></h1>
<br><p></p><br>
<form th:if="${sessionUser != null && sessionUser.admin==1}" method="post" th:action="@{/profile/{profileusername}/admin(profileusername=${user.getUsername()})}">
    <button type="submit">Admin</button>
</form>

<form th:if="${sessionUser != null && sessionUser.admin==1}" method="post" th:action="@{/profile/{profileusername}/moderator(profileusername=${user.getUsername()})}">
    <button type="submit">Moderator</button>
</form>



<br><p></p><br>
<a th:href="@{/}">Home</a>

<hr>

<div th:each="comment: ${user.getComments()}">
    <strong th:text="${#dates.format(comment.postedAt)}"></strong>
    <span th:text="${comment.text}"></span>
    <form th:if="${(sessionUser != null && sessionUser.admin==1) || (sessionUser != null && sessionUser.id == user.id) || (sessionUser != null && sessionUser.admin==2) }" method="post" th:action="@{/profile/{commentid}/delete(commentid=${comment.id})}">
        <button type="submit">Löschen</button>
    </form>
</div>
</body>
</html>
